* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-size: $font-s;
  padding: $font-s;
  text-decoration: none;
  color: $font_primary;
}

body {
  background-color: $primary_color;
}

h1 {
  font-size: $font-extreme;
  color: $font_primary;

  @include breakpoint-down(large) {
    font-size: $font-m;
  }
  @include breakpoint-down(medium) {
    font-size: $font-m-l;
  }
  @include breakpoint-down(small) {
    font-size: $font-m;
  }
}

h2 {
  font-size: $font-lg;
  color: $font_primary;
  @include breakpoint-down(large) {
    font-size: $font-m-l;
  }
  @include breakpoint-down(medium) {
    font-size: $font-m;
  }
  @include breakpoint-down(small) {
    font-size: $font-s-m;
  }
}
h3 {
  font-size: $font-s-m;
  color: $font_primary;
  @include breakpoint-down(large) {
    font-size: $font-s-m;
  }
  @include breakpoint-down(medium) {
    font-size: $font-s;
  }
}
h4 {
  font-size: $font-sx;
  color: $font_primary;
  font-weight: 300;
  @include breakpoint-down(large) {
    font-size: $font-s;
  }
  @include breakpoint-down(medium) {
    font-size: $font-vs;
  }
  @include breakpoint-down(small) {
    font-size: $font-es;
  }
}
h5 {
  font-size: $font-vs;
  color: $font_tertiary;
  font-weight: normal;
  @include breakpoint-down(large) {
    font-size: $font-es;
  }
  @include breakpoint-down(medium) {
    font-size: $font-es;
  }
  @include breakpoint-down(small) {
    font-size: $font-xs;
  }
}

.btn {
  &__container {
    padding-bottom: 4rem;
    @include breakpoint-down(medium) {
      padding-bottom: 2rem;
    }
    @include breakpoint-down(small) {
      padding-bottom: 1.75rem;
    }
  }
  &__main {
    border-radius: 0.5rem;
    display: block;
    text-align: center;
    word-spacing: 0.25rem;
    font-size: $font-s;
    font-weight: 500;
    width: 15rem;
    line-height: 1.1;
    color: white;
    height: auto;
    padding: 0.75rem;
    background-color: $secondary_color;
    i {
      color: rgb(226, 226, 202);
    }
  }
}

ul {
  margin-top: 1rem;
  list-style-type: "⚡";
  @include breakpoint-down(medium) {
    margin-left: 1rem;
  }
}
li {
  margin-bottom: 1rem;
  font-size: $font-s;
  color: $font_tertiary;
  @include breakpoint-down(medium) {
    margin-left: 1rem;
    font-size: $font-vs;
  }
  @include breakpoint-down(small) {
    margin-left: 0.75rem;
  }
}
