.header {
  margin: 1.25rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include breakpoint-down(small) {
    margin: 1.25rem 1.25rem;
  }
}

.hamburger {
  display: none;
  @include breakpoint-down(medium) {
    display: block;
    font-size: $font-m;
  }
  @include breakpoint-down(small) {
    font-size: $font-s-m;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 2.5rem;
    @include breakpoint-down(small) {
      height: 2.2rem;
    }
  }
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint-down(medium) {
    display: none;
  }
}
