// Colors
$primary_color: #edf9fe;
$secondary_color: #001c55;

// Font Colors
$font_primary: #001c55;
$font_secondary: #7f8daa;
$font_tertiary: #8c9eb8;

// Font size
$font-vs: 1.125rem; //18
$font-s: 1.25rem; //20
$font-s-m: 1.875rem; //30
$font-m: 2.5rem; //40
$font-m-l: 3.125rem; //50
$font-lg: 3.5rem; //56
$font-xlg: 3.75rem; //60
$font-extreme: 4.325rem; //70
