// Colors
$primary_color: rgb(255, 255, 255);
$secondary_color: #0b368b;

// Font Colors
$font_primary: #082563;
$font_secondary: #31293f;
$font_tertiary: #526580;

// Font size
$font-xs: 0.725rem; //14rem
$font-es: 1rem; //16
$font-vs: 1.125rem; //18
$font-s: 1.25rem; //20
$font-sx: 1.5rem; //20
$font-s-m: 1.875rem; //30
$font-m: 2.5rem; //40
$font-m-l: 3.125rem; //50
$font-lg: 3.5rem; //56
$font-xlg: 3.75rem; //60
$font-extreme: 4.325rem; //70
