@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  font-size: 1.25rem;
  padding: 1.25rem;
  text-decoration: none;
  color: #001c55;
}

body {
  background-color: #edf9fe;
}

h1 {
  font-size: 4.325rem;
  color: #001c55;
}

h2 {
  font-size: 3.75rem;
  color: #001c55;
}

h3 {
  font-size: 1.875rem;
  color: #001c55;
}

.btn__container {
  padding-bottom: 4rem;
}

@media (max-width: 63.9375em) {
  .btn__container {
    padding-bottom: 2rem;
  }
}

@media (max-width: 39.9375em) {
  .btn__container {
    padding-bottom: 1.75rem;
  }
}

.btn__main {
  border-radius: 0.5rem;
  display: block;
  text-align: center;
  word-spacing: 0.25rem;
  font-size: 1.25rem;
  font-weight: 500;
  width: 15rem;
  line-height: 1.1;
  color: white;
  height: auto;
  padding: 0.75rem;
  background-color: #001c55;
}

.btn__main i {
  color: #e2e2ca;
}

.header {
  margin: 1.25rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 39.9375em) {
  .header {
    margin: 1.25rem 1.25rem;
  }
}

.hamburger {
  display: none;
}

@media (max-width: 63.9375em) {
  .hamburger {
    display: block;
    font-size: 2.5rem;
  }
}

@media (max-width: 39.9375em) {
  .hamburger {
    font-size: 1.875rem;
  }
}

.hamburger .cross {
  display: none;
}

.hamburger .cross_visible {
  display: inline-block;
}

.hamburger .bar {
  display: block;
}

.hamburger .bar_invisible {
  display: none;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo img {
  height: 2.5rem;
}

@media (max-width: 39.9375em) {
  .logo img {
    height: 2.2rem;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  .navbar {
    display: none;
  }
}

.menu_item {
  position: fixed;
  background-color: #edf9fe;
  width: 100vw;
  height: 90vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu_list a {
  font-size: 1.875rem;
  padding: 1.5rem;
}

.menu_on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 5rem;
  margin-right: 5rem;
}

@media (max-width: 63.9375em) {
  .main {
    margin-left: 5rem;
    margin-right: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 39.9375em) {
  .main {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.main__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__profile .profile_pic {
  border: 1px solid red;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-image: url("./../images/Profile.jpg");
  background-size: 10rem;
  background-position: 1rem 25%;
  display: none;
}

@media (max-width: 63.9375em) {
  .main__profile .profile_pic {
    display: block;
  }
}

.main__info {
  width: 50%;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 63.9375em) {
  .main__info {
    width: 100%;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main__header {
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 63.9375em) {
  .main__header {
    padding-top: 0;
    text-align: center;
  }
}

.main h1 {
  padding: 0.5rem;
  padding-left: 0;
}

@media (max-width: 87.4375em) {
  .main h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 63.9375em) {
  .main h1 {
    font-size: 3.125rem;
  }
}

@media (max-width: 39.9375em) {
  .main h1 {
    font-size: 2.5rem;
  }
}

.main h3 {
  padding: 0.5rem;
  padding-left: 0;
}

@media (max-width: 87.4375em) {
  .main h3 {
    font-size: 1.875rem;
  }
}

@media (max-width: 63.9375em) {
  .main h3 {
    font-size: 1.25rem;
  }
}

.main__desc {
  text-align: justify;
  padding: 0.5rem 1rem;
  padding-left: 0;
  font-size: 2.5rem;
  color: #7f8daa;
  font-weight: bold;
}

@media (max-width: 87.4375em) {
  .main__desc {
    font-size: 2rem;
  }
}

@media (max-width: 63.9375em) {
  .main__desc {
    font-size: 1.875rem;
  }
}

@media (max-width: 39.9375em) {
  .main__desc {
    font-size: 1.25rem;
  }
}

.main__logo {
  width: 50%;
  height: 75vh;
}

@media (max-width: 63.9375em) {
  .main__logo {
    width: 100%;
    height: auto;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.main__logo img {
  height: 75vh;
}

@media (max-width: 63.9375em) {
  .main__logo img {
    display: none;
  }
}

@media (max-width: 63.9375em) {
  .social {
    padding: 1rem;
    margin: 1rem;
  }
}

@media (max-width: 39.9375em) {
  .social {
    margin: 1rem 0;
  }
}

.social a {
  padding: 0.25rem;
}

.social a i {
  font-size: 1.875rem;
}

.whatido h1 {
  margin: 7rem;
  text-align: center;
}

@media (max-width: 63.9375em) {
  .whatido h1 {
    margin: 2rem;
    font-size: 3.125rem;
  }
}

@media (max-width: 39.9375em) {
  .whatido h1 {
    margin: 1.5rem;
    font-size: 2rem;
  }
}

.workComponent {
  height: 60vh;
  margin-left: 5rem;
  margin-right: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 63.9375em) {
  .workComponent {
    margin-left: 1rem;
    margin-right: 1rem;
    height: auto;
  }
}

.workComponent .image {
  height: 60vh;
  width: 50%;
}

@media (max-width: 63.9375em) {
  .workComponent .image {
    display: none;
  }
}

.workComponent .image img {
  height: 60vh;
  width: 100%;
}

.workComponent .desc {
  width: 50%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 63.9375em) {
  .workComponent .desc {
    width: 100%;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.workComponent .desc h2 {
  padding: 1rem;
}

@media (max-width: 63.9375em) {
  .workComponent .desc h2 {
    text-align: center;
    font-size: 2.5rem;
  }
}

@media (max-width: 39.9375em) {
  .workComponent .desc h2 {
    font-size: 1.875rem;
  }
}

.workComponent .desc .list {
  padding: 1rem;
}

.workComponent .desc .list i {
  padding: 0.25rem;
  color: #001c55;
  font-size: 3.125rem;
}

@media (max-width: 63.9375em) {
  .workComponent .desc .list i {
    font-size: 1.875rem;
  }
}

.workComponent .desc ul {
  margin-top: 1rem;
  list-style-type: "⚡";
}

@media (max-width: 63.9375em) {
  .workComponent .desc ul {
    margin-left: 1rem;
  }
}

.workComponent .desc li {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  color: #8c9eb8;
}

@media (max-width: 63.9375em) {
  .workComponent .desc li {
    margin-left: 1rem;
    font-size: 1.125rem;
  }
}

.footer h3 {
  text-align: center;
}

@media (max-width: 39.9375em) {
  .footer h3 {
    font-size: 1.25rem;
  }
}
/*# sourceMappingURL=index.css.map */