@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  font-size: 1.25rem;
  padding: 1.25rem;
  text-decoration: none;
  color: #082563;
}

body {
  background-color: white;
}

h1 {
  font-size: 4.325rem;
  color: #082563;
}

@media (max-width: 87.4375em) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 63.9375em) {
  h1 {
    font-size: 3.125rem;
  }
}

@media (max-width: 39.9375em) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 3.5rem;
  color: #082563;
}

@media (max-width: 87.4375em) {
  h2 {
    font-size: 3.125rem;
  }
}

@media (max-width: 63.9375em) {
  h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 39.9375em) {
  h2 {
    font-size: 1.875rem;
  }
}

h3 {
  font-size: 1.875rem;
  color: #082563;
}

@media (max-width: 87.4375em) {
  h3 {
    font-size: 1.875rem;
  }
}

@media (max-width: 63.9375em) {
  h3 {
    font-size: 1.25rem;
  }
}

h4 {
  font-size: 1.5rem;
  color: #082563;
  font-weight: 300;
}

@media (max-width: 87.4375em) {
  h4 {
    font-size: 1.25rem;
  }
}

@media (max-width: 63.9375em) {
  h4 {
    font-size: 1.125rem;
  }
}

@media (max-width: 39.9375em) {
  h4 {
    font-size: 1rem;
  }
}

h4 {
  text-align: justify;
  color: #082563;
}

h5 {
  font-size: 1.125rem;
  color: #526580;
  font-weight: normal;
}

@media (max-width: 87.4375em) {
  h5 {
    font-size: 1rem;
  }
}

@media (max-width: 63.9375em) {
  h5 {
    font-size: 1rem;
  }
}

@media (max-width: 39.9375em) {
  h5 {
    font-size: 0.725rem;
  }
}

.btn__container {
  padding-bottom: 4rem;
}

@media (max-width: 63.9375em) {
  .btn__container {
    padding-bottom: 2rem;
  }
}

@media (max-width: 39.9375em) {
  .btn__container {
    padding-bottom: 1.75rem;
  }
}

.btn__main {
  border-radius: 0.5rem;
  display: block;
  text-align: center;
  word-spacing: 0.25rem;
  font-size: 1.25rem;
  font-weight: 500;
  width: 15rem;
  line-height: 1.1;
  color: white;
  height: auto;
  padding: 0.75rem;
  background-color: #0b368b;
}

.btn__main i {
  color: #e2e2ca;
}

ul {
  margin-top: 1rem;
  list-style-type: "⚡";
}

@media (max-width: 63.9375em) {
  ul {
    margin-left: 1rem;
  }
}

li {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  color: #526580;
}

@media (max-width: 63.9375em) {
  li {
    margin-left: 1rem;
    font-size: 1.125rem;
  }
}

@media (max-width: 39.9375em) {
  li {
    margin-left: 0.75rem;
  }
}

.header {
  margin: 1.25rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 39.9375em) {
  .header {
    margin: 1.25rem 1.25rem;
  }
}

.hamburger {
  display: none;
}

@media (max-width: 63.9375em) {
  .hamburger {
    display: block;
    font-size: 2.5rem;
  }
}

@media (max-width: 39.9375em) {
  .hamburger {
    font-size: 1.875rem;
  }
}

.hamburger .cross {
  display: none;
}

.hamburger .cross_visible {
  display: inline-block;
}

.hamburger .bar {
  display: block;
}

.hamburger .bar_invisible {
  display: none;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo img {
  height: 2.5rem;
}

@media (max-width: 39.9375em) {
  .logo img {
    height: 2.2rem;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  .navbar {
    display: none;
  }
}

.menu_item {
  position: fixed;
  background-color: white;
  width: 100vw;
  height: 90vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu_list a {
  font-size: 1.875rem;
  padding: 1.5rem;
}

.menu_on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 5rem;
  margin-right: 5rem;
}

@media (max-width: 63.9375em) {
  .main {
    margin-left: 2rem;
    margin-right: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: null) {
  .main {
    margin-left: 1rem;
    margin-right: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__profile .profile_pic {
  border: 1px solid red;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-image: url("./../images/Profile.jpg");
  background-size: 10rem;
  background-position: 1rem 25%;
  display: none;
}

@media (max-width: 63.9375em) {
  .main__profile .profile_pic {
    display: block;
  }
}

.main__info {
  width: 50%;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 63.9375em) {
  .main__info {
    width: 100%;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main__header {
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 63.9375em) {
  .main__header {
    padding-top: 0;
    text-align: center;
  }
}

.main h1 {
  padding: 0.5rem;
  padding-left: 0;
}

@media (max-width: 87.4375em) {
  .main h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 63.9375em) {
  .main h1 {
    font-size: 3.125rem;
  }
}

@media (max-width: 39.9375em) {
  .main h1 {
    font-size: 2.5rem;
  }
}

.main h3 {
  padding: 0.5rem;
  padding-left: 0;
}

@media (max-width: 87.4375em) {
  .main h3 {
    font-size: 1.875rem;
  }
}

@media (max-width: 63.9375em) {
  .main h3 {
    font-size: 1.25rem;
  }
}

.main__desc {
  text-align: justify;
  padding: 0.5rem 1rem;
  padding-left: 0;
  font-size: 2.5rem;
  color: #31293f;
  font-weight: bold;
}

@media (max-width: 87.4375em) {
  .main__desc {
    font-size: 2rem;
  }
}

@media (max-width: 63.9375em) {
  .main__desc {
    font-size: 1.875rem;
  }
}

@media (max-width: 39.9375em) {
  .main__desc {
    font-size: 1.25rem;
  }
}

.main__logo {
  width: 50%;
  height: 75vh;
}

@media (max-width: 63.9375em) {
  .main__logo {
    width: 100%;
    height: auto;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.main__logo img {
  height: 75vh;
}

@media (max-width: 63.9375em) {
  .main__logo img {
    display: none;
  }
}

@media (max-width: 63.9375em) {
  .social {
    padding: 1rem;
    margin: 1rem;
  }
}

@media (max-width: 39.9375em) {
  .social {
    margin: 1rem 0;
  }
}

.social a {
  padding: 0.25rem;
}

.social a i {
  font-size: 1.875rem;
}

.whatido h1 {
  margin: 7rem;
  text-align: center;
}

@media (max-width: 63.9375em) {
  .whatido h1 {
    margin: 2rem;
    font-size: 3.125rem;
  }
}

@media (max-width: 39.9375em) {
  .whatido h1 {
    margin: 1.5rem;
    font-size: 2rem;
  }
}

.workComponent {
  height: 60vh;
  margin-left: 5rem;
  margin-right: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 63.9375em) {
  .workComponent {
    margin-left: 1rem;
    margin-right: 1rem;
    height: auto;
  }
}

.workComponent .image {
  height: 60vh;
  width: 50%;
}

@media (max-width: 63.9375em) {
  .workComponent .image {
    display: none;
  }
}

.workComponent .image img {
  height: 60vh;
  width: 100%;
}

.workComponent .desc {
  width: 50%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 63.9375em) {
  .workComponent .desc {
    width: 100%;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.workComponent .desc h2 {
  padding: 1rem;
}

@media (max-width: 63.9375em) {
  .workComponent .desc h2 {
    text-align: center;
    font-size: 2.5rem;
  }
}

@media (max-width: 39.9375em) {
  .workComponent .desc h2 {
    font-size: 1.875rem;
  }
}

.workComponent .desc .list {
  padding: 1rem;
}

.workComponent .desc .list i {
  padding: 0.25rem;
  color: #0b368b;
  font-size: 3.125rem;
}

@media (max-width: 63.9375em) {
  .workComponent .desc .list i {
    font-size: 1.875rem;
  }
}

.footer h3 {
  text-align: center;
}

@media (max-width: 39.9375em) {
  .footer h3 {
    font-size: 1.25rem;
  }
}

.education {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1rem 5rem;
}

@media (max-width: 63.9375em) {
  .education {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media (max-width: 39.9375em) {
  .education {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.education__left {
  width: 50%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}

@media (max-width: 39.9375em) {
  .education__left {
    width: 100%;
    height: auto;
  }
}

.education__left img {
  width: 100%;
}

.education__right {
  width: 50%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 39.9375em) {
  .education__right {
    width: 100%;
    height: auto;
  }
}

.education__right h1 {
  padding: 1rem;
}

.education__right h3 {
  padding: 1rem;
  text-align: center;
}

.education__right object {
  width: 42px;
  height: 42px;
}

.degree {
  margin: 1rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 39.9375em) {
  .degree {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media (max-width: 39.9375em) {
  .degree {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.degree h2 {
  padding: 2rem;
}

.degree__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 63.9375em) {
  .degree__details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.degree__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80vw;
  max-width: 65rem;
  border-radius: 1rem;
  padding-top: 0.75rem;
}

.degree__desc .btn__container {
  padding: 1.5rem 2.25rem;
  padding-top: 0.425rem;
  background-color: #f3e7ec;
  border-radius: 0 0 1rem 1rem;
}

@media (max-width: 63.9375em) {
  .degree__desc .btn__container {
    padding-left: 1rem;
  }
}

@media (max-width: 63.9375em) {
  .degree__desc {
    padding-left: 1rem;
  }
}

.degree__header {
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: pink;
}

@media (max-width: 39.9375em) {
  .degree__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
}

.degree__header p {
  padding: 0.75 0rem;
}

.degree__main {
  padding-left: 2.25rem;
  background-color: #f5e9ee;
}

.degree__main li {
  color: #471313;
  font-weight: 200;
}

@media (max-width: 63.9375em) {
  .degree__main {
    padding-left: 1rem;
  }
}

@media (max-width: 39.9375em) {
  .degree__main {
    padding-left: 0.5rem;
  }
}

.degree .logo__container {
  margin: 2rem;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

.degree .logo__container img {
  width: 10rem;
  border-radius: 50%;
}

.certification {
  margin: 2rem 5rem;
}

@media (max-width: 63.9375em) {
  .certification {
    margin: 2rem 2rem;
  }
}

@media (max-width: 39.9375em) {
  .certification {
    margin: 1rem;
  }
}

.certification h2 {
  margin: 2rem;
  text-align: center;
}

.certification__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem 3rem;
}

@media (max-width: 63.9375em) {
  .certification__list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 39.9375em) {
  .certification__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.certification__item {
  border: 1px solid gray;
  border-radius: 0.5rem;
}

@media (max-width: 39.9375em) {
  .certification__item {
    margin: 0.5 rem 2rem;
  }
}

.certification__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c9bba2;
  padding: 1rem;
  height: 8rem;
}

.certification__logo img {
  width: 10rem;
  max-height: 8rem !important;
}

.certification__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  text-align: center;
}

.certification__item {
  -webkit-box-shadow: 0px 0px 5px #d0d0d0;
          box-shadow: 0px 0px 5px #d0d0d0;
}

.certification__item:hover {
  -webkit-box-shadow: 0px 5px 10px 0px #d0d0d0, 5px 0px 5px #d0d0d0;
          box-shadow: 0px 5px 10px 0px #d0d0d0, 5px 0px 5px #d0d0d0;
}

.title {
  margin-top: 15vh;
  margin-bottom: 4rem;
}

.title h2 {
  color: var(--clr-gold);
  font-family: "Great Vibes", cursive;
  text-align: center;
}

.section-center {
  max-width: var(--fixed-width);
}

.question {
  background: var(--clr-white);
  border-radius: var(--radius);
  -webkit-box-shadow: var(--light-shadow);
          box-shadow: var(--light-shadow);
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin: 1rem 5rem 1rem 5rem;
}

@media (max-width: 63.9375em) {
  .question {
    margin: 1rem 2.5rem 1rem 2.5rem;
  }
}

@media (max-width: 39.9375em) {
  .question {
    margin: 1rem 1.5rem 1rem 1.5rem;
  }
}

.question-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
}

.question-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question-title p {
  margin-bottom: 0;
  letter-spacing: var(--spacing);
  color: var(--clr-grey-1);
}

.question-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--clr-gold);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.question-btn:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.question-text {
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.question-text p {
  margin-bottom: 0;
}

/* hide text */
.question-text {
  display: none;
}

.show-text .question-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.minus-icon {
  display: none;
}

.show-text .minus-icon {
  display: inline;
}

.show-text .plus-icon {
  display: none;
}

.project__container {
  margin: 5rem 5rem 5rem 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem 3rem;
}

@media (max-width: 63.9375em) {
  .project__container {
    margin: 1.5rem 2.5rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 39.9375em) {
  .project__container {
    margin: 1rem 1rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.project__item {
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}

.project__item a {
  padding: 0.25rem 0;
  font-size: 1rem;
}

.project__details {
  padding: 1rem 0;
}

.project__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project__footer h5 {
  font-weight: 500;
}

.tech__used i {
  padding: 0.25rem;
  font-size: 1.875rem;
}

@media (max-width: 63.9375em) {
  .tech__used i {
    font-size: 2rem;
  }
}

@media (max-width: 39.9375em) {
  .tech__used i {
    font-size: 1.25rem;
  }
}
/*# sourceMappingURL=index.css.map */